:root {
    /* 背景颜色 */
    --bg-color-page: #FFFFFF; /* 基础背景颜色 */
    --bg-color-secondarycontainer: #F0F0F0; /* 次要颜色背景 */


    --bg-color-container-active: #000000; /* 主要容器背景active，次要页面层级背景active */
    --bg-color-warn:#AB822820;


    /* 分割线 */
    --component-border: #F2F2F2; /* 分割线 */

    /* 字体颜色 */
    --text-color-primary: #000000; /* 基础字体颜色 */
    --text-color-active: #FFFFFF; /* 字体颜色的active */
    --text-color-second: #8E8E8E; /* 次要字体颜色 */
    --text-color-success:  rgba(1, 167, 84, 0.85);/* 成功的字体颜色 */
    --text-color-third:#AB8228;
    --text-color-error: #EA3C32; /* 失败的字体颜色 */
    --text-color-tabs-active:#000;/*tabs 激活颜色*/
    --text-color-tabs-unActive:#8e8e8e;/*tabs未激活颜色*/


    --border-color:#F2F2F2;/* 边框颜色*/

    
}

body {
    color: var(--text-color-primary);
    background-color: var(--bg-color-page);
}